.
├── build
│   ├── mst
│   └── sss_path
├── input
│   ├── dir_line.in
│   ├── dir_random.in
│   ├── sample.in
│   ├── undir_complete.in
│   ├── undir_line.in
│   ├── undir_multi_mst.in
│   └── undir_random.in
├── Makefile
├── problem_statement
│   └── Project 2 - Fall 2019.pdf
├── README.md
├── report
│   ├── dir_line.png
│   ├── dir_neg_edge_no_cycle.png
│   ├── dir_random.png
│   ├── P2-Rubrics.png
│   ├── problem_sample.png
│   ├── report_project_2.docx
│   ├── undir_complete.png
│   ├── undir_line.png
│   └── undir_random.png
└── src
    ├── mst.cpp
    ├── sss_path.cpp
    └── template.cpp

